/* bio */


@import "../utilities/variables";

.cuerpo-bio {

    overflow: auto;
}


.bio-content{

    flex-direction: column;
    align-items: center;
}

.container-bkg-img{
    overflow: hidden;
}

.bkg-img {
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(/imagenes/proyecto3.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 950px;
    -webkit-filter: blur(2px);
    filter: blur(2px);

}

.bio-content {
    position: relative;
    top: -940px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto-bio {
    display: flex;
    justify-content: center;
    height: 100%;
}


.textoBio {
    padding: 1rem;
    margin: 1rem;
    width: 20%;

    p {

        color: whitesmoke;
    }
}

.h1__color-sp {

    color: whitesmoke;
}

.texto-bio-sp {
    color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
}

.img-bio {

    width: 200px;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    overflow: hidden;

}

.img-bio img {

    width: 100%;
}


.btn:hover{

    background-color: $colorNegro;
    color: $primario;
}