footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.7rem;
    text-align: center;


    a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;

        &:hover {

            color: rgb(132, 132, 132)
        }

    }
}

.footerIconos {

    display: flex;
    justify-content: space-evenly;

    a {
        padding: 10px;
        margin: 1rem, 1rem, 0.5rem, 1rem;

    }


}

.fa-facebook:hover {

    color: #3b5998;
}

.fa-linkedin:hover {

    color: #3b5998;
}
.fa-square-instagram:hover {

    color: #3b5998;
   
}

.fa-envelope:hover {

    color: #3b5998;
}