/* Galeria Obras */

 .cuerpo-obras{

    overflow-y: hidden;
 }
.galeriaObras {

    background-color: rgb(239, 239, 239);
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    overflow: auto;


    & img {

        width: 100%;
    }

    & div{

        margin: 1.2rem;
        width: 90%;
    

    }
    
    & h2 {

        color: aliceblue;
        font-size: 5rem;
        text-align: center;
    
    }

    & h3{
        color: aliceblue;
        font-size: 0.9rem;
        text-align: center;
        
    }

  

    & p {

        color: aliceblue;
        font-style: italic;
        font-size: 1rem;

    }

}

 /* 

*/

.galeriaObrasImg {

    width: 100%;
}

.obra-1 {
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),url(../imagenes/mantra-t.png);
    // background-image: url(../imagenes/mantra-t.png); aca esta sólo la imagen.
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.obra-2 {

    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)),url(../imagenes/atisbo-t.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

.obra-3 {

    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)),url(../imagenes/scrap-t.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

.obrasInfo1 {

    position: relative;
    top: 100px;

}


.obrasInfo2 {
    position: relative;
    top: 50px;

}


.obrasInfo3 {
    position: relative;
    top: 80px;

}

.negritaObras {
    font-weight: bold;
}


