

/* Media Queries - Laptop 1366 px */


@media screen and (min-width: 1366px) {

    /* Elementos base */

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    nav {
        width: 80%;
        align-items: flex-end;
    }

    footer {

        height: 10vh;
        display: flex;
        flex-wrap: wrap;


        & div {

            display: flex;
            flex-wrap: wrap;

            & i {
                padding: 1rem;
            }

        }
    }


.barraNavegacion{

    li {

            a{
                text-decoration: none;
                list-style-type: none;
                padding: 1rem;
                border-radius: 20%;
                font-weight: 600;
            }
        }
}
       

    .cuerpoGrid {

        grid-template-columns: 0.2fr 2fr 0.2fr;
        grid-template-rows: 10vh 80vh 10vh;

        grid-template-areas: 
        
        "header header header"
        "main main main"
        "footer footer footer";
    }


    .slide img {
        height: 100%;
    }


    footer {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: ". info redes";



    }

    .footerIconos {
        grid-area: redes;
        justify-content: flex-end;
        align-self: normal;

    }

    .footerInfo {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }


    // Galeria Audiovisual

    .galeriaClips {
        width: 560px;
    }

    /* Galeria Obras */

    .obra-1 {
        height: 100vh;
        display: flex;
        justify-content: center;


    }

    .obra-2 {
        height: 100vh;
        display: flex;
        justify-content: center;

    }

    .obra-3 {
        height: 100vh;
        display: flex;
        justify-content: center;

    }

    .obrasInfo1 {
        position: relative;
        top: 250px;

    }

    .obrasInfo1 h2 {
        font-size: 7rem;
    }

    .obrasInfo1 p {

        width: 700px;
        font-size: 1.7rem;
        font-weight: 250;

    }

    .obrasInfo2 {
        position: relative;
        top: 250px;

    }

    .obrasInfo2 h2 {

        font-size: 7rem;
    }

    .obrasInfo2 h3 {

        font-size: 1.5rem;
    }

    .obrasInfo2 p {

        width: 700px;
        font-size: 1.7rem;
        font-weight: 250;
    }

    .obrasInfo3 {
        position: relative;
        top: 250px;

    }

    .obrasInfo3 h2 {

        font-size: 7rem;
    }

    .obrasInfo3 p {

        width: 800px;
        font-size: 1.7rem;
        font-weight: 250;


    }

    .obrasInfo3 p {

        width: 100%;


    }

    /* PENDIENTE CONSULTA!!: Cuando le quito el % relativo a la clase .obrasInfo3 y el % al p la pagina se rompe TODA. No encuentro por que motivo pasa, pero pasa solo en ese DIV, en los demas no hace falta asignar eso. */

    .obrasInfo3 {
        width: 45%;

    }

}


/* Media Queries - Tablet 768 px - */


@media screen and (min-width: 768px) and (max-width:1365px) {

    /* Elementos Base */

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedorLogo {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    nav {
        width: 80%;
        align-items: flex-end;
    }

    ul.barraNavegacion {
        flex-direction: row;
        justify-content: flex-end;
        width: 35%;
        padding-right: 5%;
    }

    .barraNavegacion li a {
        text-decoration: none;
        list-style-type: none;
        padding: 1rem;
        border-radius: 20%;
        font-weight: 600;
    }



    /* Galeria Audiovisual */

    .galeriaClips {
        width: 560px;
    }

    /* Galeria Obras */


    .obrasInfo1 {
        position: relative;
        top: 50px;

    }

    .obrasInfo1 h2 {
        text-align: center;
        font-size: 7rem;
    }

    .obrasInfo1 p {
        text-align: center;
    }



    .obrasInfo2 {
        position: relative;
        top: 50px;

    }

    .obrasInfo2 h2 {
        text-align: center;
        font-size: 7rem;
    }

    .obrasInfo2 h3 {
        text-align: center;
    }

    .obrasInfo2 p {
        text-align: center;
    }

    .obrasInfo3 {
        position: relative;
        top: 50px;

    }

    .obrasInfo3 h2 {
        text-align: center;
        font-size: 7rem;
    }

    .obrasInfo3 p {
        text-align: center;
    }



}


/* Media Queries - 576px - */


@media screen and (min-width:576px) {

    /* Galeria Audiovisual */

    .galeriaClips {
        width: 400px;
    }


    /* Galeria Obras */

    .obrasInfo1 {
        position: relative;
        top: 50px;

    }

    .obrasInfo1 h2 {
        text-align: center;
        font-size: 7rem;
    }

    .obrasInfo1 p {
        text-align: center;
    }

    .obrasInfo2 {
        position: relative;
        top: 50px;

    }

    .obrasInfo2 h2 {
        text-align: center;
        font-size: 7rem;
    }

    .obrasInfo2 h3 {
        text-align: center;
    }

    .obrasInfo2 p {
        text-align: center;
    }

    .obrasInfo3 {
        position: relative;
        top: 50px;

    }

    .obrasInfo3 h2 {
        text-align: center;
        font-size: 7rem;
    }

    .obrasInfo3 p {
        text-align: center;
    }

}